@{
    ViewData["Title"] = "Bienvenido";
    var usuarioNombre = Context.Session.GetString("UsuarioNombre");
}

<div class="container-fluid vh-100">
    <div class="row h-100">
        <!-- Sidebar -->
        <div class="col-auto bg-light p-3 d-flex flex-column" style="width: 240px;">
            <div class="text-center">
                <img src="https://res.cloudinary.com/dacg0wegv/image/upload/t_media_lib_thumb/v1463990208/photo_dkkrxc.png" class="rounded-circle" width="100" height="100">
                <h2>Bienvenido, @usuarioNombre</h2>
            </div>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item"><a href="#" class="nav-link active">Dashboard</a></li>
                <li><a href="#" class="nav-link">Users</a></li>
                <li><a asp-action="ListLibro" asp-controller="Dashboard" class="nav-link">Biblioteca</a></li>
                <li><a asp-action="AlquiladoLibro" asp-controller="Dashboard" class="nav-link">Libros alquilados</a></li>
                
            </ul>
        </div>

        <!-- Main Content -->
        <div class="col overflow-auto">
            <header class="bg-primary text-white py-2 px-3 d-flex justify-content-between align-items-center">
                <span>Admin Panel</span>
                <a asp-controller="Inicio" asp-action="Logout" class="btn btn-danger">Cerrar sesión</a>
            </header>
            <!--Main content-->
            <div class="row">
                <!-- Total de libros alquilados -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Total de libros alquilados
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" id="div_libros">0</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-book fa-2x text-black-50"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Libros pendiente -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        Libros pendiente
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" id="div_lectores">0</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-users fa-2x text-black-50"></i>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--Libros Devueltos-->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        Libros Devueltos
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" id="div_lectores">0</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-users fa-2x text-black-50"></i>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                
        </div>
    </div>
</div>

